body{
  margin: 0;
  font-size: 20px;
}


.nav-container {
  width: 100%;
  background: black;
}

nav {
  width: 100%;
  margin: 0 auto;
  display: grid;

}



.right-menu {
  align-self: center;
  grid-column: 2;

}

.right-menu ul li{
  display: inline-grid;
}

.logo {
  grid-column: 1;
  font-size: 40px;
  padding: 1rem;
  width: 200px;
}


#nav-toggle, .burger-menu {
  display: none;
}

.burger-menu {
  grid-column: 10;
  align-self: center;
}


nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  
  transition: .3s all ease-in-out;
}

nav a:hover {
  opacity: .7;
}

.right-menu a {
  padding: 10px 0;
  margin-left: 15px;
  
  font-weight: 300;
  letter-spacing: 0.5px;
}


.fa{

  color: white;
}



/*CSS SOTTO MENU*/


.dropdown {
  display: inline;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  margin: 0;
  background: none;
}



/* CONTENUTO DROPMENU */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* LINK INTERNI DROPMENU */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* BACKGROUND DEL MENU IN HOVER */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* VISUALIZZARE MENU DROP IN HOVER */
.dropdown:hover .dropdown-content {
  display: block;
}


/* SEARCH BAR */


.nav-container input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.nav-container .search-container button {
  padding: 5px;
  margin-top: 8px;
  margin-right: 16px;
  background: transparent;
  font-size: 17px;
  border: 1px solid green;
  color: green;
  cursor: pointer;
}

.nav-container .search-container button:hover{

background: green;
color: white;



}


@media only screen and (max-width: 768px) {
  .burger-menu {
    display: inline-grid;
  }

  .right-menu {
    display: none;
  }

  #nav-toggle:checked ~ .left-menu {
    display: grid;
    grid-row: 2;
  }
}                